/* Imports de estilos modulares */
@import './styles/typography.css';
@import './styles/colors.css';
@import './styles/shadows.css';
@import './styles/grid.css';
@import './styles/base.css';
@import './styles/Header.css';
@import './styles/Footer.css';
@import './styles/ImageUpload.css';
@import './styles/InfoCards.css';
@import './styles/PredictionResults.css';
